* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    background-color: #353535;
}
a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style: none;
}
.content {
    width: 80%;
    margin: auto;
}